<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Job Track</title>
    <link href="{% static "css/main.css" %}" rel="stylesheet">
  </head>
  <body>
    <header>
      <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">Job Track</a>
        </div>
      </nav>
    </header>
    <div class="container">
      <div class="row">
        <div class="col s8 offset-s2 card-panel hoverable">
          <div class="center-align">
            <h3>{% block header_text %}{% endblock %}</h1>
            <form method="POST" action="{% block form_action %}{% endblock %}">
              <div class="input-field col s12">
                <input name="application_company" placeholder="Google" id="company_name" type="text" class="validate"/>
                <label for="company_name">Company Name</label>
              </div>
              {% csrf_token %}
            </form>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s6 offset-s3">
          {% block list %}
          {% endblock %}
        </div>
      </div>
    </div>
    <script src="{% static "js/jquery-2.1.4.min.js" %}"></script>
    <script src="{% static "js/materialize.min.js" %}"></script>
  </body>
</html>
