/* Custom Styles and Materialize Overrides

Jasen Carroll
Oct 28th, 2015
*/

/* ======================================
Custom Styles
====================================== */

form { padding: 1em; }

.collapsible-body { padding: 1em; }

/* ======================================
Materialize Overrides
====================================== */

nav { background-color: #09bad1; }
